@use "./variables" as *;

@mixin mediaMinWidth($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin mediaMaxWidth($max-width) {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}

@mixin aspectRatio($ratio: 16/9) {
  height: 0;
  padding-bottom: 100% / $ratio;
  @supports (aspect-ratio: 16/9) {
    aspest-ratio: $ratio;
    height: initial;
    padding-bottom: initial;
  }
}

@mixin ulReset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin limitLine($number) {
  display: -webkit-box !important;
  -webkit-line-clamp: $number !important;
  line-clamp: $number !important;
  -webkit-box-orient: vertical !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

@mixin breakText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin resFont($min-size, $max-size, $important: false) {
  $font-size: #{$max-size};

  @if $important {
    $font-size: #{$max-size} !important;
  }

  font-size: $font-size;

  @include mediaMaxWidth($lg) {
    $font-size: calc(#{$max-size} - ((#{$max-size} - #{$min-size})) / 2);

    @if $important {
      $font-size: calc(#{$max-size} - ((#{$max-size} - #{$min-size})) / 2) !important;
    }

    font-size: $font-size;
  }

  @include mediaMaxWidth($sm) {
    $font-size: #{$min-size};

    @if $important {
      $font-size: #{$min-size} !important;
    }

    font-size: $font-size;
  }
}

@mixin iconify($icon, $w, $h: auto) {
  height: $h;
  width: $w;
  background-image: url("https://api.iconify.design/#{$icon}.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@mixin iconify-mask($icon, $w, $h: auto, $color: currentColor) {
  height: $h;
  width: $w;
  background-color: $color;
  -webkit-mask: url("https://api.iconify.design/#{$icon}.svg") no-repeat center;
  mask: url("https://api.iconify.design/#{$icon}.svg") no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  cursor: pointer;
}

@mixin limitLine($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}